<menu>
    <Services>
      <CrowdSec cssClass="fa fa-globe fa-fw">
        <Settings order="1" url="/ui/crowdsec/general/index"/>
        <Overview order="2" url="/ui/crowdsec/machines/index"/>
        <Overview order="3" url="/ui/crowdsec/bouncers/index"/>
        <Overview order="5" url="/ui/crowdsec/alerts/index"/>
        <Overview order="6" url="/ui/crowdsec/decisions/index"/>
        <Overview order="7" url="/ui/crowdsec/collections/index"/>
        <Overview order="8" url="/ui/crowdsec/scenarios/index"/>
        <Overview order="9" url="/ui/crowdsec/parsers/index"/>
        <Overview order="10" url="/ui/crowdsec/postoverflows/index"/>
        <Overview order="11" url="/ui/crowdsec/appsecrules/index"/>
        <Overview order="12" url="/ui/crowdsec/appsecconfigs/index"/>
      </CrowdSec>
    </Services>
</menu>
